<nav id="principal">
    <div id="div-menu">
        <ul>
            <li id="app-name"><a> 💰 APP FINANÇAS</a></li>
            <li><a routerLink="create-transaction">novo</a></li>
            <li><a routerLink="list-transaction">extrato</a></li>
            <li><a routerLink="graphics-transaction">relatórios</a></li>
            <li><a routerLink="settings">configurações</a></li>
        </ul>
    </div>
</nav>

<nav id="nav-body">
    <div id="div-body">
        <router-outlet></router-outlet>
    </div>
</nav>
  
